@model OnlineMarketplace.Models.Store

@{
    ViewBag.Title = "Product List";
}

<h2>Store</h2>

<div>
    <h4>Store</h4>
    <hr/>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OpenTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OpenTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CloseTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CloseTime)
        </dd>

    </dl>
</div>
<div>
    <h4>Product List</h4>
    <table class="table">
        <tr>
            <th>Product Namme</th>
            <th>Description</th>
        </tr>
        @foreach (var item in Model.Products)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
            </tr>
        }
    </table>

</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.StoreId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
